/* Estilos Comuns para TODOS os Contêineres */
.container01, .container02, .container03, .container04 {
    border: 1px solid #000; /* Borda preta para visualização */
    width: 100%;
    height: 80px; /* Altura fixa para o container */
    display: flex; /* ATIVA o Flexbox */
    margin-bottom: 10px; /* Espaço entre os contêineres */
}

/* Container 02: Inverte a ordem na linha (eixo horizontal) */
.container02 {
    flex-direction: row-reverse;
}

/* Container 03: Alinha os itens na coluna (eixo vertical) */
.container03 {
    flex-direction: column;
    /* Ajuste de altura e alinhamento, se necessário, quando for 'column' */
    height: 200px; /* Aumenta a altura para caber na coluna */
}

/* Container 04: Alinha os itens na coluna e inverte a ordem */
.container04 {
    flex-direction: column-reverse;
    /* Ajuste de altura, se necessário */
    height: 200px;
}

/* Estilos das Caixas (Box 01, 02, 03) */
.box01 {
    background-color: blueviolet;
}

.box02 {
    background-color: cornflowerblue;
}

.box03 {
    background-color: crimson;
}

/* Estilos Comuns para TODAS as caixas (div's) dentro dos contêineres */
.container01 div, 
.container02 div, 
.container03 div, 
.container04 div {
    height: 50px;
    width: 250px;
    margin: 5px;
    /* Para centralizar o texto dentro das caixas: */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}